[Desktop Entry]
Version=1.0
Type=Application
Name=Postman
Icon={{ HOME }}/opt/Postman/app/resources/app/assets/icon.png
Exec="{{ HOME }}/opt/Postman/app/Postman"
Comment=RESTAPI Testing
Categories=Development;IDE;
Terminal=false
